*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;

}

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(54, 240, 116);
}

#panel{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: rgb(174, 210, 222);
}

#ptop{
  padding: 0px 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(71, 115, 87);
}

.elem{
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

.elem h2{
  font-size: 30px;
  font-weight: 700;
}

.box{
  color:black;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}

#ptbtm{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
}

.bubble{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(223, 55, 36);
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
}
.bubble:hover{
 cursor: pointer;
 background-color: rgb(143, 9, 9);
}